<div id="<%= dom_id movie %>">
  <p>
    <strong>Name:</strong>
    <%= movie.Name %>
  </p>

  <p>
    <strong>Release year:</strong>
    <%= movie.Release_year %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= movie.genre %>
  </p>

  <p>
    <strong>Main actor:</strong>
    <%= movie.Main_actor %>
  </p>

  <p>
    <strong>String:</strong>
    <%= movie.string %>
  </p>

</div>
