<div class = 'container'>
  <div class = 'col-3'>
<!--    <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3" role="get">-->
<!--      <input type="get" class="form-control form-control-dark text-bg-dark" placeholder="Numbers" aria-label="Search">-->
<!--    </form>-->
    <br>
    <%= form_with url: "home/about", :method => "get" do |form|%>
      <%= form.label("Input number of elements in array")%>
      <br>
      <%= form.number_field :num, in: 1..300, step: 1, class: "form-control form-control-dark text-bg-dark" %>
      <br>
      <%= form.label("Input elements of array")%>
      <br>
      <%= form.text_area :arr, size: "15x1", class: "form-control form-control-dark text-bg-dark"%>
      <br>
      <%= form.submit "Result", class: "btn btn-outline-dark me-2"%>
      <% end %>
  </div>
  <div style = "padding-top: 15px">
    <% flash.each do |type, msg| %>
      <div class="alert alert-info">
        <%= msg %>
      </div>
    <% end %>
  </div>
<!--  <div class = 'col-2'>-->
<!--    <button type="button" class="btn btn-outline-dark me-2">Answer</button>-->
<!--  </div>-->
</div>